.profile-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-form {
    background-color: rgb(199, 232, 202);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-group textarea {
    height: 100px;
    resize: vertical;
}

.error {
    color: red;
    text-align: center;
}

.profile-form button {
    background-color: #56ea62;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.profile-form button:hover {
    background-color: #64d49a;
}